.Rproj.user
.Rhistory
.RData
.Ruserdata
dcphelper/
cellprofiler/.DS_Store
cellprofiler/.DS_Store
cellprofiler/.DS_Store
cellprofiler/.DS_Store
dir_content.txt
.DS_Store
.DS_Store
cellprofiler/.DS_Store
.DS_Store
cellprofiler/.DS_Store
data/
